.panel-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 70vh;
}
.text-container{
    width: 50%;
    display: inline-block;
}

.image-container{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    overflow: hidden;
}


.image-container img{
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: cover;
}

.navbar-custom a{
    color: black;
    margin-right: 1em;
}
.navbar-custom a:hover{
    color: #007bff;
    text-decoration: underline;
}

.highlight{
    background-color: #f5bf73;
    padding: 0.1em;
}
.intro-paragraph{
    line-height: 2em;
    letter-spacing: 1px;
}


@media only screen and (max-width: 800px) {
    .panel-1{
        display: block;
        margin-top: 2em;
        min-height: 50vh;
    }
    .text-container{
        width: 100%;
        display: block;
    }
    .image-container{
        width: 100%;
        text-align: center;
        height: 250px;
        width: 250px;
    }
}